<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Blogify</title>
  </head>
  <body>
    <%- include('./partials/nav') %>

    <figure class="text-center mt-5">
      <blockquote class="blockquote">
        <p>
          Every great developer you know got there by solving problems they were
          unqualified to solve until they actually did it.
        </p>
      </blockquote>
      <figcaption class="blockquote-footer">
        Patrick McKenzie <cite title="Source Title">, internet</cite>
      </figcaption>
    </figure>

    <div class="container mt-5">
      <div class="row">
        <% blogs.forEach(blog => { %>
        <div class="col-12 col-md-3 mb-3">
          <div class="card text-bg-dark" style="width: auto">
            <img
              src="<%= blog.coverImageURL %>"
              class="card-img-top"
              style="height: 200px; object-fit: fill"
            />
            <div class="card-body" style="height: 140px">
              <h5 class="card-title"><%= blog.title %></h5>
              <a
                href="/blog/<%= blog._id %>"
                class="btn btn-primary mb-2"
                style="position: absolute; bottom: 0"
                >View</a
              >
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
    <%- include('./partials/footer') %> <%- include('./partials/scripts') %>
  </body>
</html>
