<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Homepage</title>
  </head>
  <body>
    <%- include('./partials/nav') %>

    <div class="container mt-5">
      <div class="row">
        <% blogs.forEach(blog => { %>
        <div class="col-12 col-md-3 mb-3">
          <div class="card text-bg-dark" style="width: auto">
            <img
              src="<%= blog.coverImageURL %>"
              class="card-img-top"
              style="height: 200px; object-fit: fill"
            />
            <div class="card-body" style="height: 140px">
              <h5 class="card-title"><%= blog.title %></h5>
              <a
                href="/blog/<%= blog._id %>"
                class="btn btn-primary mb-2"
                style="position: absolute; bottom: 0"
                >View</a
              >
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>

    <%- include('./partials/scripts') %>
  </body>
</html>
